html,body{
  width: 100%;
  height: 100%;
}
//wrapper
.wrapper{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include size(100%,100%);
  background: url("../images/bg.jpg") center center no-repeat;
  background-size: cover;
}
.container{
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 48%;
  @include transform(translate(-50%,-50%));
  width: 100%;
}

//for pin1
//.pin{
//  display: none;
//  &.current{
//    display: block;
//  }
//}


/*For content*/
.logo{
  @include size(2.75rem,1.02rem);
  margin: 0 auto 0.4rem;
  padding-top: 0.4rem;
}
.content{
  box-sizing: border-box;
  @include size(6.33rem,6.57rem);
  //padding: 1.2rem 0.6rem;
  background: url("../images/cbg.png") no-repeat;
  background-size: 100%;
  margin: 0.7rem auto 0;
  padding: 0.6rem 0.5rem 0.7rem;
  text-align: center;
  .title{
    font-size: 0.31rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .line{
    width: 0.6rem;
    margin: 0.35rem auto;
    background: #060606;
    height: 1px;
    border: none;
  }
  .t1{
    font-size: 0.64rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
}

//for lottery
.content{
  position: relative;
}
#lotteryContainer{
  position: absolute;
  @include size(4.5rem,2.28rem);
  bottom: 0.8rem;
  left: 50%;
  @include transform(translate(-50%,0%));
  margin: 0 auto;
  #lottery{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    //opacity: 0;
    @include size(100%,100%);
  }
  .prize{
    opacity: 0;
    position: absolute;
    z-index: 1;
    @include size(100%,100%);
    line-height: 2.28rem;
    top: 0;
    left: 0;
    font-size: 0.52rem;
    font-weight: bold;
    color: #2c2b2b;
    background: url("../images/prize-bg.png") no-repeat;
    background-size: 100%;
    &.show{
      opacity: 1;
    }
    .num{
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
      @include size(4rem,0.6rem);
      background: url("../images/coupon.png") no-repeat;
      background-size: 100%;
      font-size: 0.6rem;
      font-weight: normal;
      font-style: italic;
      letter-spacing: 10px;
      &.coupon-111{
        background-position: 0 0;
      }
      &.coupon-222{
        background-position: 0 50%;
      }
      &.coupon-333{
        background-position: 0% 100%;

      }
    }
  }
}


.btn{
  color: #2c2b2b;
  background: #fff;
  padding: 0.15rem 0;
  margin: 0 auto;
  width: 2.2rem;
  text-align: center;
  font-size: 0.3rem;
  letter-spacing: 1px;
  a{
    display: block;
    color: #fff;
    text-decoration: none;
  }
}

//for btn-collection
.btn-collection{
  text-align: center;
  .btn{
    position: relative;
    display: inline-block;
    margin: 0.6rem 0.1rem;
    box-shadow: 0px 3px 13px #6e7173;
    @include background-image(linear-gradient(#fff, #ededed));
    @include size(2.35rem,0.5rem);
    span{
      display: block;
      text-indent: -999em;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
      @include size(1.21rem,0.3rem);
      background: url("../images/btns.png") no-repeat;
      background-size: 100%;
      &.btn-t2{
        background-position: bottom center;
      }
    }
    &.disabled{
      color: rgba(110,85,73,0.3);
      @include background-image(linear-gradient(#e7e7e7, #fff));
      span{
        opacity: 0.5;
      }
    }
  }
}

//for pin1
.pin1{
  .p1-title{
    text-align: center;
    font-size: 0.36rem;
    margin: 1rem auto 0.8rem;
    @include size(3.58rem,1rem);
    background: url("../images/next.png") no-repeat;
    background-size: 3.58rem;
    text-indent: -999em;
  }
  .qrcode{
    @include size(3.72rem,3.72rem);
    margin: 0 auto 0.8rem;
  }
  .next{
    width: 3.58rem;
    margin: 0 auto;
    text-align: center;
    a{
      display: block;
      color: #2c2b2b;
      font-size: 0.3rem;
      text-decoration: underline;
      @include size(3.58rem,0.8rem);
      background: url("../images/next.png") bottom center no-repeat;
      background-size: 3.58rem;
      text-indent: -999em;
    }
  }
}

//btn-rule
.btn-rule{
  @include size(0.87rem,0.24rem);
  margin: 0.2rem auto;
  img{
    width: 100%;
  }
}

//for pop-rules
.pop-rules{
  .btn-close{
    opacity: 0.8;
    top: 0.04rem;
  }
  .rule-title{
    background: #000;
    color: #fff;
    font-size: 0.36rem;
    padding: 0.22rem;
    text-align: center;
  }
  .rule-content{
    color: #515151;
    font-size: 0.28rem;
    padding: 0.7rem 0.6rem;
    p{
      margin-bottom: 0.5rem;
    }
  }
}

//for pop-share
.pop-share{
  padding: 0.2rem 0.5rem;
  background: rgba(0,0,0,.9);
  .tips{
    @include size(3.34rem,1.41rem);
    float: right;
  }
}
