/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Clarendon';
  src: url("../font/Clarendon-Light.otf") format("truetype");
  /* Safari, Android, iOS */
}
@media all and (orientation: landscape) {
  html {
    font-size: calc(100vh / 375 * 50);
  }
}
@media all and (orientation: portrait) {
  html {
    font-size: calc(100vw / 375 * 50);
  }
}
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Songti',serif;
  line-height: 1.5;
  font-size: .24rem;
  color: #000;
}

.font-en {
  font-family: 'Clarendon',serif;
}

* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*:not(input):not(textarea):not(select) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  width: 100%;
  display: block;
}

.hide {
  display: none !important;
}

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*For popup*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 1.4rem 0.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  color: #000;
}
.popup.show {
  display: block;
}
.popup .inner {
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
}
.popup .title {
  padding: 0.2rem 0;
  margin: 0 auto;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 0.36rem;
}
.popup .pcontent {
  padding: 0.4rem 0.4rem;
  margin: 0.4rem auto 0;
  font-size: 0.28rem;
  line-height: 1.6;
  text-align: left;
  color: #515151;
}
.popup .pcontent p {
  margin-bottom: 0.3rem;
}
.popup .btn-close {
  position: absolute;
  top: 0;
  right: 0.1rem;
  z-index: 20;
  width: 0.6rem;
  height: 0.84rem;
  text-indent: -999em;
}
.popup .btn-close:after, .popup .btn-close:before {
  content: '';
  display: block;
  width: 0.4rem;
  height: 0.04rem;
  top: 50%;
  left: 50%;
  margin-left: -0.2rem;
  position: absolute;
  background: #fff;
}
.popup .btn-close:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup .btn-close:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.video-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 10;
  background: #000;
}
.device-andriod .video-wrap {
  padding-top: 1.3rem;
}
.video-wrap .video-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video-wrap.show {
  display: block;
}
.video-wrap .video-js {
  z-index: 10;
  width: 100% !important;
  height: 100% !important;
}
.video-wrap .btn-closevideo {
  z-index: 11;
  width: 0.6rem;
  height: 0.6rem;
  cursor: pointer;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  padding: 0.1rem;
}
.video-wrap .btn-closevideo:after, .video-wrap .btn-closevideo:before {
  content: '';
  display: block;
  width: 0.6rem;
  height: 0.03rem;
  top: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
}
.video-wrap .btn-closevideo:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.video-wrap .btn-closevideo:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.video-wrap .btn-closevideo:hover:after, .video-wrap .btn-closevideo:hover:before {
  background: #fff;
}

@media screen and (orientation: portrait) {
  .show-on-landscape {
    display: none;
  }

  .show-on-portrait {
    display: block;
  }
}
@media screen and (orientation: landscape) {
  .show-on-landscape {
    display: block;
  }

  .show-on-portrait {
    display: none;
  }
}
.alertpop {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 102;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.alertpop .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0.6rem 1rem;
  background: #fff;
  color: #000;
  font-size: 0.32rem;
  text-align: center;
  border-radius: 5px;
}
.alertpop .msg {
  font-size: 0.28rem;
  letter-spacing: 6px;
}
.alertpop .btn-alert-ok {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 0.6rem;
  height: 0.6rem;
  text-indent: -999em;
}
.alertpop .btn-alert-ok:after, .alertpop .btn-alert-ok:before {
  content: '';
  display: block;
  width: 0.4rem;
  height: 0.02rem;
  top: 50%;
  left: 50%;
  margin-left: -0.2rem;
  position: absolute;
  background: #000;
}
.alertpop .btn-alert-ok:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.alertpop .btn-alert-ok:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ajaxpop {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}
.ajaxpop .loading {
  position: absolute;
  width: 2rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  margin-left: -1.1rem;
  margin-top: -0.6rem;
  line-height: 1rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem;
  border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  color: #fff;
}
.ajaxpop .icon-loading {
  display: inline-block;
  position: relative;
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.4);
}
.ajaxpop .icon-loading:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.page-selectvideo .wrapper, .page-form .wrapper, .page-videolist .wrapper {
  background: url("../images/selectvideo-bg.jpg") center center no-repeat;
  background-size: cover;
}
.page-qa .wrapper {
  background: url("../images/bg.jpg") center center no-repeat;
  background-size: cover;
}

.content {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 48%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.logo {
  width: 2.75rem;
  height: 1.02rem;
  margin: 0 auto 0.4rem;
}

.btn {
  color: #fff;
  background: #000;
  padding: 0.15rem 0;
  margin: 0 auto;
  width: 2.2rem;
  text-align: center;
  font-size: 0.3rem;
  letter-spacing: 1px;
}
.btn a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 6.39rem;
  height: 8.91rem;
  padding: 1.2rem 0.6rem;
  background: url("../images/layer-bg.png") no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.pin-welcome {
  text-align: center;
}
.pin-welcome p {
  margin-bottom: 0.4rem;
}
.pin-welcome .title {
  font-size: 0.42rem;
  margin-bottom: 0.6rem;
}
.pin-welcome .subtitle {
  font-size: 0.28rem;
}
.pin-welcome .t1 {
  font-size: 0.26rem;
}
.pin-welcome .t2 {
  font-size: 0.22rem;
  color: #5e5e5e;
}
.pin-welcome .btn {
  margin-bottom: 0.25rem;
}
.pin-welcome .showrules {
  font-size: 0.22rem;
  text-decoration: underline;
}

.qa-list {
  display: none;
  text-align: center;
  margin: 0 auto;
  padding: 0 0.3rem;
}
.qa-list.qa-list {
  display: block;
}
.qa-list .ordernum {
  display: inline-block;
  margin-right: 0.1rem;
  font-size: 0.5rem;
  font-style: italic;
}
.qa-list .ask {
  text-align: left;
  font-size: 0.34rem;
  margin-bottom: 1rem;
}
.qa-list .answer {
  text-align: left;
  font-size: 0.26rem;
}
.qa-list .answer .item {
  margin-bottom: 0.3rem;
  padding: 0.2rem 0 0.2rem 0.05rem;
}
.qa-list .answer .item.unselect {
  color: #d5d5d5;
}
.qa-list .answer .item .series {
  margin-right: 0.3rem;
}
.qa-list .btn-go {
  font-size: 0.3rem;
  margin-top: 0.5rem;
}

.role-content {
  font-size: 0.28rem;
  text-align: center;
}
.role-content p {
  margin: 0.4rem 0;
}
.role-content .t1 {
  font-size: 0.52rem;
  font-weight: bold;
}
.role-content .t2 strong {
  display: inline-block;
  margin-left: 0.1rem;
  font-size: 0.3rem;
  font-weight: bold;
}
.role-content .t3, .role-content .t4 {
  font-size: 0.26rem;
  line-height: 1.8;
}
.role-content .t4 {
  margin-bottom: 0.8rem;
}
.role-content .quotation {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  margin: 0 0.1rem;
  background: url("../images/icon-quotation.png") no-repeat;
  background-size: 100%;
}
.role-content .quotation.r-quotation {
  background-position: 0 100%;
}

.page-selectvideo .video-block {
  position: relative;
  z-index: 100;
  width: 5.54rem;
  height: 3.09rem;
  margin: 0.5rem auto 0.5rem;
  background: #000;
  display: block;
}
.page-selectvideo .video-block .videoplayer {
  background: #000;
}
.page-selectvideo .video-block .tvp_poster_img {
  background-size: cover;
}
.page-selectvideo .video-block.vb-0 .tvp_poster_img {
  background-image: url("../images/p-tangyan.jpg") !important;
}
.page-selectvideo .video-block.vb-1 .tvp_poster_img {
  background-image: url("../images/p-liweiyi.jpg") !important;
}
.page-selectvideo .video-block.vb-2 .tvp_poster_img {
  background-image: url("../images/p-tanyuanyuan.jpg") !important;
}
.page-selectvideo .video-block.vb-3 .tvp_poster_img {
  background-image: url("../images/p-chenman.jpg") !important;
}
.page-selectvideo .video-block.vb-4 .tvp_poster_img {
  background-image: url("../images/p-oukaichun.jpg") !important;
}
.page-selectvideo .video-block.vb-5 .tvp_poster_img {
  background-image: url("../images/p-huangyunling.jpg") !important;
}

.video-wrap.show {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-block {
  position: relative;
  background: #000;
}
.video-block .btn-play {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: #fff 2px solid;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
}
.video-block .btn-play:after {
  content: '';
  display: block;
  position: absolute;
  left: 55%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: transparent 0.2rem solid;
  border-bottom: transparent 0.2rem solid;
  border-left: #fff 0.3rem solid;
}

.page-videolist .slogan {
  margin: 0.4rem auto;
  font-size: 0.52rem;
  font-weight: bold;
  text-align: center;
}
.page-videolist .video-list {
  position: relative;
  width: 6.5rem;
  height: 7.25rem;
  box-sizing: border-box;
  margin: 0 auto 0.7rem;
  border: #fff 4px solid;
  color: #fff;
  background: #fff;
}
.page-videolist .video-list .panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.page-videolist .video-list .r-panel {
  left: 50%;
}
.page-videolist .video-list .video-block {
  position: relative;
  height: 33%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: #fff 4px solid;
  line-height: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.page-videolist .video-list .video-block .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-videolist .video-list .video-block .des {
  position: absolute;
  font-size: 0.22rem;
  bottom: 0.1rem;
  left: 0;
  width: 100%;
}
.page-videolist .video-list .video-block .title, .page-videolist .video-list .video-block .name {
  margin-bottom: 0.15rem;
}
.page-videolist .video-list .video-block.video-block-1 {
  height: 30%;
  background-image: url("../images/p-huangyunling.jpg");
}
.page-videolist .video-list .video-block.video-block-2 {
  height: 30%;
  background-image: url("../images/p-oukaichun.jpg");
  background-position: right;
}
.page-videolist .video-list .video-block.video-block-6 {
  height: 40%;
  background-image: url("../images/p-chenman.jpg");
  background-position: left;
}
.page-videolist .video-list .video-block.video-block-3 {
  height: 40%;
  background-image: url("../images/p-tangyan.jpg");
}
.page-videolist .video-list .video-block.video-block-4 {
  height: 30%;
  background-image: url("../images/p-liweiyi.jpg");
}
.page-videolist .video-list .video-block.video-block-5 {
  height: 30%;
  background-image: url("../images/p-tanyuanyuan.jpg");
}
.page-videolist .video-list .video-block .btn-play {
  width: 0.6rem;
  height: 0.6rem;
  background: rgba(0, 0, 0, 0.5);
}
.page-videolist .video-list .video-block .btn-play:after {
  border-top: transparent 0.15rem solid;
  border-bottom: transparent 0.15rem solid;
  border-left: #fff 0.2rem solid;
}
.page-videolist .btn {
  width: 4.3rem;
}

input[type="text"],
input[type="tel"] {
  border: #a3a7a3 1px solid;
  padding: 0.2rem;
  width: 60vw;
}

.page-form .title {
  text-align: center;
  font-size: 0.34rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  line-height: 1.8;
}

#form-contact {
  text-align: center;
  font-size: 0.28rem;
}
#form-contact label {
  display: inline-block;
  margin-right: 0.1rem;
}
#form-contact .input-box {
  position: relative;
  margin-bottom: 0.8rem;
}
#form-contact input[type="text"],
#form-contact input[type="tel"] {
  font-size: 0.28rem;
}

.error {
  position: absolute;
  width: 100%;
  bottom: -0.4rem;
  font-size: 0.24rem;
  color: #f00;
}

.videoplayer {
  width: 100%;
  height: 100%;
}
.videoplayer .tvp_overlay_play {
  position: absolute;
  width: .8rem;
  height: .8rem;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  margin: 0 !important;
}
.videoplayer .tvp_overlay_play_try .tvp_button_play,
.videoplayer .tvp_overlay_play .tvp_button_play {
  display: block;
  position: absolute;
  left: 55%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: none;
  border-top: transparent 0.2rem solid;
  border-bottom: transparent 0.2rem solid;
  border-left: #fff 0.3rem solid;
}
